<div class = "header">
        
    <div class = "header-name" >
        <div class = "header-nav-key">RAJPREET-NAYYAR</div>
    </div>
    <div class="header-sub" *ngIf = "!mobileView">
            <div class = "drop-down">
                    <img src = "assets\menu.png">
                </div>
        <div class = "header-sub">
            <div class = "header-nav-key">ABOUT</div>
            <div class = "header-nav-key">TIMELINE</div>
            <div class = "header-nav-key">SKILLS</div>
            <div class = "header-nav-key">WORK</div>
        </div>
    </div>
</div>
