<div class = "timeline">
<div class = "timeline-heading-container">  <p>TIMELINE</p> </div>
<div class = "timeline-component-container">
        <div class = "timeline-container-left">
                <div>
                    <div class = "timeline-sub-heading-left"><p class = "year-left">1998</p></div>
                    <div class = "timeline-content-left">Born on 5th feb 1998, in Chandigarh India.. </div>
                </div>    
        </div>
        <div class = "timeline-container-right">
                <div>
                    <div class = "timeline-sub-heading-right"><p class = "year-right">2013</p></div>
                    <div class = "timeline-content-right"><b>Completed 10th class..</b> scored pretty good you know! 10 cgpa.. Proud moment.. Good Old days hehe</div>
                </div>    
        </div>
        <div class = "timeline-container-left">
                        <div>
                            <div class = "timeline-sub-heading-left"><p class = "year-left">1998</p></div>
                            <div class = "timeline-content-left">Born on 5th feb 1998, in Chandigarh India.. </div>
                        </div>    
                </div>
                <div class = "timeline-container-right">
                        <div>
                            <div class = "timeline-sub-heading-right"><p class = "year-right">2013</p></div>
                            <div class = "timeline-content-right"><b>Completed 10th class..</b> scored pretty good you know! 10 cgpa.. Proud moment.. Good Old days hehe</div>
                        </div>    
                </div>
</div>
</div>