<!-- <div class="profile-container">
    <div @pageAnimations class = "profile-img">
        <div class = "card-container">
            <img class = "img"  src = "assets\raj.png">
            <h3 class = "name">RAJPREET NAYYAR</h3>
            <h3 class = "job">SOFTWARE DEV - IOS UI API</h3>
        </div>
        <div class="flip-card-back">
            <h1>RAJPREET SINGH NAYYAR</h1> 
            <p>Software Developer</p> 
            <p>We love that guy</p>
          </div>
    </div>
</div> -->
<div class = "card-container">
    <div class="flip-card">
                <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets\raj.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <div class="flip-card-back-details">
                <p class = "card-name">RAJPREET NAYYAR</p> 
                <p class = "card-designation">Software Developer</p> 
                </div>
            </div>
        </div>
    </div>
  </div>
